{% extends "core/base.html" %} {% load static %} {% block content %}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-3">
        <div class="row gx-4 gx-lg-5 align-items-center">
        
   
            {% if producto.imagen %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ producto.imagen.url }}" /></div>
            {% else %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /></div>
            {% endif %}
            <div class="col-md-6">

                <div class="small mb-1">Código: {{ producto.id }}</div>
                <h1 class="display-5 fw-bolder">Codigo/Nombre: {{producto.nombre}}</h1>
                
                <h4 class="display-5 fw-bolder">Marca: {{producto.marca}}</h4>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">Gs. {{ producto.precio }}</span> -->
                    <span>clp. {{producto.precio}} </span>
                    <span>Stock: {{producto.stock}}</span>
                </div>
                <p class="lead">Descripcion: {{producto.descripcion}}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> {% if user.is_authenticated%}
                    <a href="{% url 'tienda:addcart' producto.nombre%}" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i> Agregar al Carrito
                    </a> {% endif %} 
                </div>
            </div>
        </div>
     </div>
</section>
<!-- Related items section-->


{% endblock %}
