<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetShop</title>
    <link rel="stylesheet" href="CSS/Categorias.css">
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>fetch("https://fraughtur.github.io/abcw/index.json")
      .then(Response => {
          return Response.json();})
      $.get("https://fraughtur.github.io/abcw/index.json",
      function(data){
          $.each(data.products,function(i, item){
              $("#categorias").append('<div class="card" style"width: 18rem;">'+ '<img src="'+item.image+'"class="card-img-top w-100V2" alt="...">'+
                  '<div class="card-body">'+'<h5 class="card-title">'+item.name+'</h5>'+ '  <br><br><br>'+
                      '<p class="card-text btncategorytext2">'+item.text+'</p>'+
                      ' <button class="btn btn-secundary">Mas informacion</button></div>') 
                      
                      
                      })})
                      
                      
                      
                      </script>

    <script>fetch("https://fraughtur.github.io/abcw/index.json")
      .then(Response => {
          return Response.json();})
      $.get("https://fraughtur.github.io/abcw/index.json",
      function(data){
          $.each(data.products2,function(i, item){
              $("#categorias2").append('<div class="card" style"width: 18rem;">'+ '<img src="'+item.image+'"class="card-img-top w-100V2" alt="...">'+
                  '<div class="card-body">'+'<h5 class="card-title">'+item.name+'</h5>'+ '  <br><br><br>'+
                      '<p class="card-text btncategorytext2">'+item.text+'</p>'+
                      ' <button class="btn btn-secundary">Mas informacion</button></div>') 
                      
                      
                      })})
                      
                      
                      
                      </script>
  
                       
    <script>fetch("https://fraughtur.github.io/abcw/index.json")
      .then(Response => {
          return Response.json();})
      $.get("https://fraughtur.github.io/abcw/index.json",
      function(data){
          $.each(data.products3,function(i, item){
              $("#categorias3").append('<div class="card" style"width: 18rem;">'+ '<img src="'+item.image+'"class="card-img-top w-100V2" alt="...">'+
                  '<div class="card-body">'+'<h5 class="card-title">'+item.name+'</h5>'+ '  <br><br><br>'+
                      '<p class="card-text btncategorytext2">'+item.text+'</p>'+
                      ' <button class="btn btn-secundary">Mas informacion</button></div>') 
                      
                      
                      })})
                      
                      
                      
                      </script>
  
                    
                   
</head>
<body>
  
  <div class="container-fluid">
    <div class="row fundacion">
     
    <div class="col-xl-3 col-sm-3 col-md-3 ">  <h6 style="padding-top: 4px;">Envios hacia: <img src="images/41.png" alt="" width="" height=""> </h6>  
     </div>  
  <div class="col-xl-4 col-sm-3 col-md-3"> 
    <h5 class=""><div class="" style="padding-left:30px;">
      ¡Te garantizamos el mejor precio online!
      </div>  
    </h5>
  </div>
  <div class="col-xl-2 col-sm-2 col-md-2">
    <h6  style="padding-top: 4px;"><a  class="txtprimerabarra"href=""> Centro de Soporte</a></h6>  
  </div>
  <div class="col-xl-2 col-sm-2 col-md-2">
    <h6 style="padding-top: 4px;"><a  class="txtprimerabarra" href=""> Estado de su producto</a></h6>  
  </div>
    </div>
  </div>
  <div class="container-fluid containernavbar">
  
    <div class="row rownavbar">
           <br> 
        <div class="col-xl-3 col-sm-3 col-md-3">
          <br>
          <h1 class=" fw-bold fs-1 logocompany">
            <a href="{%url 'home' %}"><img src="IMAGES/1.jpg" class="border border-2 border-dark" alt="" width="90" height="72" ></a>
            <div class="badge text-wrap fw-bold     " style="width:3rem;">
                PETSHOP
              </div>
        </h1>
        <br>
          </div>
          
              
          <!-- Buscar en la tienda -->
          <div class="col-xl-5 col-sm-5 col-md-5">
            <br><br>
          <form class="form-floating mb-3 d-flex rounded">
            <div class="search-box  ">
                <input type="text"  placeholder="Buscar en la tienda"
                class="search-input rounded-pill" />
                <a href="#" class="search-btn">
                <img src="IMAGES/lupa.png" alt="" width="25" height="25" >
                </a>
            </div>
          </form>
         </div> 
                    
       <!-- <div class="col-xl-5">
         <br>
        <form class="form-floating mb-3 d-flex rounded">
          <input class="form-control me-9" type="search" placeholder="Buscar en la Tienda" aria-label="Search">
          <label for="floatingInput">Buscar en la Tienda</label>
        
          <button type="submit" class="btn rounded"><img src="IMAGES/lupa.png" alt="" width="30" height="24" >
            </button>
          </form>
         </div> -->
    
       <div class="col-xl-4 col-sm-4 col-md-4" style="padding-left: 20%;">
           <br>
<button type="button" class="btn rounded" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
    <img src="IMAGES/iniciarsesionlogo.png" alt="" width="30" height="24" >
    Iniciar Sesion
</button>
<!-- Inicio de sesión -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header modalbackgroundlogin"> 
  <a href="index.html"><img src="IMAGES/1.jpg" class="border border-2 border-dark" alt="" width="60" height="60" ></a>
            <div class="badge text-wrap fw-bold fs-5 " style="width:6px;">
                PETSHOP
              </div>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>




</div>
<div class="row">
  <div class="col col-sm col-md">
 <p class="iniciarsesionmodaldesign fw-bold fs-6">Iniciar Sesion</p>
</div>
</div>
<div class="modal-body modalbackgroundlogin">
  <form action="/action_page.php">
    <!-- Usuario -->
    <div class="form-floating mb-3 mt-1">
      
      <input type="text" class="form-control " id="uname floatingInput" placeholder="Ingrese usuario"
       name="uname" required minlength="6" && maxlength="30">
       <label for="uname floatingInput">Usuario</label>
      
    <!-- Contraseña -->
    <div class=" form-floating mb-3 mt-4">
    
        <input type="password"
               class="form-control"
               id="floatingPassword" placeholder="Ingrese Contraseña"
               pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*"
               title="Debe tener al menos una mayúscula, una minúscula y un dígito"
               required minlength="8" && maxlength="20" >  <label for="pwd floatingPassword">Contraseña</label>        
    </div>
    <!-- Desea Guardar Contraseña -->
    <div class="form-check mb-3">
      <input class="form-input" type="checkbox" id="switch"  
      name="remember" >
      <label class="form-label" for="myCheck">¿Guardar Contraseña?.</label>
    </div>
  <button type="submit" class="btn btn-secundary">Iniciar Sesion</button>
  </form>
</div>
</div>
</div>
</div>
       </div>
      
      </div> 
      
  </div>
 
  <div class="container-fluid containeradress">
      <div class="row">
          <div class="col-xl-2 col-sm-2 col-md-2 tiendalocation">
              <br>
            <img src="IMAGES/iconomapa.png" width="30" height="24" > Tienda: Calpheon
          </div>
          <div class="col-xl-6 col-sm-6 col-md-6">
            <br>
            <h5>Nuestras Redes Sociales: 
              <img src="IMAGES/facebook.png" width="60" height="48">
              <img src="IMAGES/instagram.png" width="60" height="48">
              <img src="IMAGES/whatsapp.png" width="60" height="48"></h5>

          
        </div>
          <div class="col-xl-3 col-sm-3 col-md-3">
              <br>
         
            <h6 class="fw-bold NuestrasCategorias ">NUESTRA TIENDA: <a href="categorias.html"><img src="images/2.png" alt="" width="40" height="40"> </a></h6> 
           
          </div>
      </div>
 <hr>
 <br>
    </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav text-center" style="padding-left: 100px;" >
              <li class="nav-item dropdown" style="padding-left: 300px;">
                <button class="nav-link text-light fw-bold fs-5 "aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">Collares</button>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"  >
                  <li><a class="dropdown-item" href="#">Collares de Perro</a></li>  
                  <li><a class="dropdown-item" href="#">Collares de Gato</a></li>
                  <li><a class="dropdown-item" href="#">Collares otras mascotas</a></li>
                </ul>
              </li> <li class="nav-item dropdown" style="padding-left: 300px;">
                <button class="nav-link text-light fw-bold fs-5 "  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">Bandanas</button>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                  <li><a class="dropdown-item" href="#">Bandanas de Perro</a></li>
                  <li><a class="dropdown-item" href="#">Bandanas de Gato</a></li>
                  <li><a class="dropdown-item" href="#">Bandanas otras mascotas</a></li>
                </ul>
              </li> <li class="nav-item dropdown" style="padding-left: 300px;">
                <button class="nav-link text-light fw-bold fs-5 " aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">Identificaciones</button>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Identificaciones de Perro</a></li>
                  <li><a class="dropdown-item" href="#">Identificaciones de Gato</a></li>
                  <li><a class="dropdown-item" href="#">Identificaciones otras mascotas</a></li>
                </ul>
              </li>  
             
            </ul>
            
        </div>
      </nav>
     
    </div>
  </div>
<br><br>
<div class="row rowoffer">
  <div class="col-xl-5 col-sm-5 col-md-5 offersday fw-bold fs-3 rowoffer "> OFERTAS DEL DIA </div>

 <div class="col-3 offersday2 fw-bold fs-5 rowoffer">NUESTROS NUEVOS PRODUCTOS</div>
</div>
<div class="row rowoffer">
  <div class="col-xl-1 col-sm-1 col-md-1"></div>
  <div class="col-xl-4 col-sm-4 col-md-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card">
            <img src="IMAGES/collaroferta.jpg" class=" d-block w-100" alt="...">
            <div class="card-body">
              <h5 class="carouseltxtoffers fw-bold fs-1  text-dark text-center" >KCUCOP</h5>
              <p class="carouseltxtoffers fw-bold fs-5  text-dark">Collar táctico perro grande </p>
              <div class="col-4 fw-bold text-center text-dark " >Precio Actual:</div><div class="col-4  fs-4 fw-bold   text-success text-decoration-line-through">64.000clp </div>
              <div class="col-4 fw-bold text-center text-dark " >Precio Descuento:</div><div class="col-4  fs-4 fw-bold   text-success ">63.990clp </div>
            </div>
          </div>
         
          
        </div>
        <div class="carousel-item">
          <div class="card">
            <img src="IMAGES/bandanagatooffer.jpg" class=" d-block w-100" alt="...">
            <div class="card-body">
              <h5 class="carouseltxtoffers fw-bold fs-1  text-dark text-center" >BOWTIE </h5>
              <p class="carouseltxtoffers fw-bold fs-5  text-dark"> collares de gato con campanas</p>
              <div class="col-4 fw-bold text-center text-dark " >Precio Actual:</div><div class="col-4  fs-4 fw-bold   text-success text-decoration-line-through">7.000clp </div>
              <div class="col-4 fw-bold text-center text-dark " >Precio Descuento:</div><div class="col-4  fs-4 fw-bold   text-success ">6.990clp </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <img src="IMAGES/idgato.jpg" class=" d-block w-100" alt="...">
            <div class="card-body">
              <h5 class="carouseltxtoffers fw-bold fs-1  text-dark text-center" >DISONTAG </h5>
              <p class="carouseltxtoffers fw-bold fs-5  text-dark">Etiquetas de identificación de mascotas con código QR </p>
              <div class="col-4 fw-bold text-center text-dark " >Precio Actual:</div><div class="col-4  fs-4 fw-bold   text-success text-decoration-line-through">22.000clp </div>
              <div class="col-4 fw-bold text-center text-dark " >Precio Descuento:</div><div class="col-4  fs-4 fw-bold   text-success ">21.990clp </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-xl-1 col-sm-1 col-md-1"></div>
  <div class="col-xl-3 col-sm-3 col-md-3"><div id="carouselExampleCaptions" class="carousel slide v2" data-bs-ride="carousel">
   
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="IMAGES/61fR936SFiL._AC_SL1000_.jpg" class="d-block w-100v3" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
        <h5 class="sociotext fw-bold text-center"> <a class="sociotext fs-3  fw-bold" href="">SUPERBUDDY</a> </h5>
          <p class="sociotext2 text-center  fw-bold">Collar de perro y gato con pajarita ajustable, comodo y duradero.</p>
         
         
      </div>
      <div class="carousel-item">
        <img src="IMAGES/81d+o-E9SwL._AC_SL1500_.jpg" class="d-block w-100v3" alt="...">
        <div class="carousel-caption d-none d-md-block">
          </div>
          <h5 class="sociotext fw-bold text-center"> <a class="sociotext fs-3  fw-bold" href="" >WEEEWOODAY</a> </h5>
          <p class="sociotext2 text-center  fw-bold">Collar de 3 piezas con diamantes de imitación brillantes para mascotas. </p>
      </div>
      <div class="carousel-item">
        <img src="IMAGES/611+3hTIQqL._AC_SL1001_.jpg" class="d-block w-100v3" alt="...">
        <div class="carousel-caption d-none d-md-block">
         </div>
         <h5 class="sociotext fw-bold text-center"> <a class="sociotext fs-3 fw-bold" href="">AAABLING</a> </h5>
          <p class="sociotext2 text-center  fw-bold">Collar de perro de gato de oro de 18 quilates para cachorro. </p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div></div>
  <div class="col-xl-3 col-sm-3 col-md-3 colsocio" > 
    <div class="card" style="width: 18rem;">
      <p class="fs-4 fw-bold text-center">¡Pedidos de rapida entrega!</p>
      <img src="IMAGES/camion.png" class="card-img-top" alt="...">
      <p class="fs-4 fw-bold text-center">¡Se nuestro Socio para descuentos unicos!</p>
      <img src="IMAGES/5%.png" class="card-img-top" alt="..." width="50px" height="150px">
      <p class="fs-4 fw-bold text-center">¡Descuento para todos nuestros productos siendo socio!</p>
  </div>
</div>
</div>
<div class="row rowoffer">
  <div class="col-xl-9 col-sm-9 col-md-9">
    <h5 class="categorias fw-bold">
         Nuestros productos
       <hr>
  </h5> 
  </div>

  <div class="col-xl-2 col-sm-2 col-md-2"></div>
</div>  
<div class="row">
  <div class="col-xl-10 col-sm-10 col-md-10">
    <div id="carouselcategorys" class="carousel slide carouselcategory" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselcategorys" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" id="category2" data-bs-target="#carouselcategorys" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" id="category3"data-bs-target="#carouselcategorys" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner " >
        <div class="carousel-item active"  data-bs-interval="3000">
          <div class="card-group" id="categorias">
        </div>
        </div>
        <div class="carousel-item "  data-bs-interval="3000">
          <div class="card-group" id="categorias2">
          </div>
        </div>
        <div class="carousel-item"  data-bs-interval="3000">
          <div class="card-group" id="categorias3">
          </div>
        </div>
      </div>
      
      <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->
    </div>
  </div>

  <div class="col-xl-2 col-sm-2 col-md-2 regis2">
    <div class="card">
      
      <div class="card-body ">
        <h4 class="card-title fw-bold text-dark ">Registrate para una mejor Experiencia</h4>
        <button type="button" class="btn rounded" data-bs-toggle="modal" data-bs-target="#register">   
          Iniciar Sesion
      </button>
      </div>
    </div>
  </div>
</div>
  
    <!-- Registro de cliente -->
<div class="modal fade " id="register" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerlLabel">Registrate</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  was-validated">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-12">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">   
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-12">
            <label for="exampleInputPassword1" class="form-label">Password Confirm</label>
            <input type="password" class="form-control" id="exampleInputPassword1">

            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="form-check mb-12">
            <input class="form-input" type="checkbox" id="switch"  
            name="remember" >
            <label class="form-label" for="myCheck">¿Guardar Contraseña?.</label>
          </div>
        
        </form> 
      </div>
      <div class="modal-footer">
        <div class="col-12">
          <button class="btn btn-primary" type="submit" required >Registrate</button>
        </div>
       
      </div>
    </div>
  </div>
</div>
  </div>
</div>


  </div> 
</div>


<div class="row rounded previuvfooter">
  <div class="col-md-1"></div>


<div class="col-xl-5 col-sm-5 col-md-5">
  <br>
  <h5 class="previuvfooter fw-bold ">Recibe ofertas y informacion de nuestros futuros productos sin tener que registrarse.</h5>
  <br>
</div>
<div class="col-xl-4 col-sm-4 col-md-4">
  <br>
  <br>
  <form class="form-floating d-flex rounded-start">
      <input class="form-control me-9" type="search" placeholder="Ingrese su Correo Electronico" aria-label="Search">
      <label for="floatingInput">Ingrese su Correo Electronico</label>
      <button type="submit" class="btn rounded-bottom">Enviar Correo
        </button>
      </form>
</div>
<div class="col-xl-2 col-sm-2 col-md-2">

</div>
</div>  
<br>
<div class="container-fluid footercontainer">
  <footer class="py-5 my-5 border-top  previuvfooter">
   
   <div class="row">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link navitemfooter" href="#">Sitio Corporativo</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link navitemfooter" href="#"> Sobre nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navitemfooter" href="#">Preguntas más frecuentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navitemfooter" href="#">Centro de ayuda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navitemfooter" href="#"> Política de privacidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navitemfooter" href="#">Términos y condiciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navitemfooter" href="#"> Accesibilidad</a>
      </li>
    </ul>
   </div>
   <br>
<div class="row">
  <div class="col text-center consultcolor2">Los precios y la disponibilidad de existencias pueden variar entre la tienda en línea y nuestra tienda minorista.</div>
</div>
<br>
<div class="row">
  <div class="col text-center consultcolor">Consulta de pedido en línea</div>
</div>
<br>
<div class="row">
  <div class="col text-center consultcolor3">Centro de servicio al cliente</div>
</div>
<br>
<div class="row">
  <div class="col text-center consultcolor2">Correo electrónico: UwU@Petshop.com Tel: +56 9 1234 5678 Horario de atención: 9:390AM. a  20:00PM.
     (ET) (Lunes a Viernes, excepto días festivos)</div>
</div>
<div class="row">
  <div class="col text-center consultcolor2">Consulte desde nuestros servicios de comunicacion conocer la disponibilidad de productos de la tienda.

  </div>
</div>
<br>
<div class="row">
  <div class="col text-center">  <h1 class=" fw-bold fs-1 logocompany">
    <a href="index.html"><img src="IMAGES/1.jpg" class="border border-2 border-dark" alt="" width="90" height="72" ></a>
    <div class="badge text-wrap fw-bold     " style="width:3rem;">
        PETSHOP
      </div>
</h1></div>
</div>
  </footer>
</div>
    <p class="text-muted text-center">PetShop © 2022</p>
</body>
</html>