{% extends 'core/base.html' %}

{% load static %}

  {% block contenido %}


  
  <!-- INICIO CAROUSEL -->
<div class="container">
  <div class="col-12 ">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'core/img/Carousel1PetShop.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/carouselgatoPetshop.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/CarouselperrogatoPetshop.jpg'%}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>

<!-- TERMINO CAROUSEL -->

<!-- INICIO PROMOCION SOCIO -->
<div class="container btnsocio ">
  <div class="row">
    <div class="col">
    <div class="custompromosocio fw-bold fs-2 ">
      <img  src="{% static 'core/img/5%new.png' %}" width="120" height="120" >Descuento siendo socio ya!
</div>
  </div>
  <div class="col">
    <div class="logotittlenavbardestacados">
      <a href="{%url 'home' %}"><img src="{% static 'core/img/1.jpg'%}" class="border border-2 border-dark" alt="" width="90" height="72" > </a>
      <span class=" fw-bold fs-2 logotittle text-decoration-none">PETSHOP</span>
    </div>
</div> 

</div>
</div>

<!-- TERMINO PROMOCION SOCIO -->

<!-- INICIO CATEGORIAS DESTACADAS -->
<br>
<div class="container ">
    <div class="row ">
        <h2 class="destacadostittle fw-bold text-center ">
        Variedad de Productos
        <hr class="border border-white border-5 ">
      </h2>
    </div>
{% load humanize %}
    <div class="row">

    {% for ve in productos %} 
   
      
        <div class="col-3  border border-5" style=" margin-left: 75px; margin-top: 30px; background-color: rgb(119,30,87);";>
          <h5 class="card-text" style="color: rgb(255, 255, 255);  text-transform: initial; margin-left: 20px; margin-top: 10px;  font-family: 'Montserrat', Helvetica, Arial, sans-serif;  font-size: 12px; font-weight: bold;">{{ve.categoria}}</h5>
        {% if ve.imagen_producto %}
        
        <div class="imgproducto" >
        <img src="{{ ve.imagen_producto.url }}" width="250px" height="250px" style="padding-left:0px; padding-right:25px; padding-bottom:25px; margin-left: 25px; "  >
        </div>
         {% endif %}
       
        
            <h5 class="" style="color: rgb(255, 255, 255); "> {{ve.marca_producto | capfirst }}</h5>  
            <h2 class="" style="color: rgb(255, 255, 255); " class="">{{ve.nombre_producto | title }}</h2>
                 <h3 class="" style="color: rgb(255, 255, 255); ">Precio: {{ve.precio_producto | intcomma }}$</h3>
            <!-- <p class="card-text" style="color: rgb(255, 255, 255);  text-transform: initial;   font-family: 'Montserrat', Helvetica, Arial, sans-serif;  font-size: 15px; font-weight: bold;">{{ve.descripcion_producto}}</p> -->
              
           
          
     
          
        </div>
      
      {% endfor %}

</div>

</div>

<!-- TERMINO CATEGORIAS DESTACADAS -->
<div>
  {% include 'core/paginator.html' %}
</div>

{% endblock %}

