{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP</title>
    <link rel="stylesheet" href="{% static 'core/css/index.css'%}">

    <script src="{% static 'core/js/jsindex.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>fetch("https://fraughtur.github.io/abcw/index.json")
      .then(Response => { return Response.json();}) 
      $.get("https://fraughtur.github.io/abcw/index.json",function(data){ $.each(data.products4,function(i, item){ $("#categorias").append('<div class="col"><div class="card" style"width: 18rem;">'+ '<img src="'+item.image+'"class="imagedestacado"  >'+'<div class="card-body">'+'<h5 class="tittledestacado fw-bold fs-2">'+item.name+'</h5>'+'<p class="card-text pricedestacado fw-bold fs-6"> Precio: $'+item.price+'</p>'+'<button class="btn btn-custom border-dark ">Mas informacion</button></div></div>')})})
      </script>
<script>fetch("https://fraughtur.github.io/abcw/index.json")
  .then(Response => { return Response.json();}) 
  $.get("https://fraughtur.github.io/abcw/index.json",function(data){ $.each(data.products4,function(i, item){ $("#categorias2").append('<div class="col"><div class="card" style"width: 18rem;">'+ '<img src="'+item.image+'"class="imagedestacado"  >'+'<div class="card-body">'+'<h5 class="tittledestacado fw-bold fs-2">'+item.name+'</h5>'+'<p class="card-text pricedestacado fw-bold fs-6"> Precio: $'+item.price+'</p>'+'<button class="btn btn-custom border-dark ">Mas informacion</button></div></div>')})})
  </script>
    
</head>
<body>
 
<!-- INICIO REGISTRATE -->

<div class="modal fade " id="Register" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">PETSHOP</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          <form class="row g-3 " action="{%url 'profile'%}" method="post" >
            <div class="col-md-12 ">
              <label for="UsernameRegister" class="form-label">Usuario</label>
              <div class="input-group ">
                <input type="text" class="form-control" id="UsernameRegister" aria-describedby="inputGroupPrepend" >
                <div class="errorRegister"></div>
              </div>
            </div>
            <div class="col-md-12">
              <label for="EmailRegister" class="form-label" >Email address</label>
              <input type="email" class="form-control" id="EmailRegister"  >
              <div class="errorRegister"></div>
            </div>
            <div class="col-md-12">
              <label for="RegisterPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="RegisterPassword" >   
              </select>
              <div class="errorRegister"></div>
            </div>
            <div class="col-md-12">
              <label for="RegisterPasswordValidate" class="form-label">Password Confirm</label>
              <input type="password" class="form-control" id="RegisterPasswordValidate" >
  
              </select>
              <div class="errorRegister"></div>
            </div>
            <div class="modal-footer">
          <div class="col-12">
          <button class="btn btn-secundary23 " data-bs-toggle="modal" data-bs-target="#Register" > 
            <button class="btn btn-primary" type="submit"  >Registrate</button>
          </div>
         
        </div>
          </form> 
        </div>
        
      </div>
    </div>
  </div>
  

<!-- TERMINO REGISTRATE -->


<!-- INICIO INICIAR SESION -->

<div class="modal fade " id="IniciarSesion" tabindex="-1" aria-labelledby="IniciarSesionLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header modalbackgroundlogin"> 
      <a href="{%url 'home' %}"><img src="{% static 'core/img/1.jpg'%}" class="border border-2 border-dark" alt="" width="60" height="60" ></a>
                <div class="badge text-wrap fw-bold fs-5 " style="width:6px;">
                    PETSHOP
                  </div>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    
    
    
    
    </div>
    <div class="row">
      <div class="col-xl-1 col-sm-1 col-md-1">
     <p class="iniciarsesionmodaldesign fw-bold fs-6">Iniciar Sesion</p>
    </div>
    </div>
    <div class="modal-body modalbackgroundlogin">
      <form action="{%url 'profile'%}" method="get">
        <!-- Usuario -->
        <div class="form-floating mb-3 mt-1">
          
          <input type="text" class="form-control " id="uname floatingInput" placeholder="Ingrese usuario"
           name="uname" required minlength="6" && maxlength="30">
           <label for="uname floatingInput">Usuario</label>
          
        <!-- Contraseña -->
        <div class=" form-floating mb-3 mt-4">
        
            <input type="password"
                   class="form-control"
                   id="floatingPassword" placeholder="Ingrese Contraseña"
                   pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*"
                   title="Debe tener al menos una mayúscula, una minúscula y un dígito"
                   required minlength="8" && maxlength="20" >  <label for="pwd floatingPassword">Contraseña</label>        
        </div>
        <!-- Desea Guardar Contraseña -->
        <div class="form-check mb-3">
          <input class="form-input" type="checkbox" id="switch"  
          name="remember" >
          <label class="form-label" for="myCheck">¿Guardar Contraseña?.</label>
        </div>
        
          <button type="submit" class="btn btn-secundary">Iniciar Sesion</button>
      <button class="btn btn-secundary23 " data-bs-toggle="modal" data-bs-target="#Log
      in" > 
        <br>
        <p class=" text-decoration-none fw-bold text-info">
        ¿No tenes cuenta eh? </p></button>
      </form>
    </div>
    </div>
    </div>
    </div>
    </div>

<!-- TERMINO INICIAR SESION -->

<!-- INICIO NAVBAR-->

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark ">
        <div class="container-fluid"> 
           <div class="row">
          <div class="navbar-nav">
                <div class="col-3">
                    <a href="{%url 'home' %}"><img src="{% static 'core/img/1.jpg'%}" class="border border-2 border-dark" alt="" width="90" height="72" ></a>
                   <span class="bagde fw-bold fs-2">PETSHOP</span>
                </div>
            
           <div class="col-8  categoryinnavbar">
            <a href="{%url 'category' %}" class="categorydiv rounded-3 text-decoration-none">Collares </a>
            <a href="{%url 'category' %}" class="categorydiv rounded-3 text-decoration-none">Bandanas </a>
            <a href="{%url 'category' %}" class="categorydiv rounded-3 text-decoration-none">Identificaciones</a>
            <a href="{%url 'category' %}" class="categorydiv rounded-3 text-decoration-none">Otros</a>
             
           {% comment %} <button class="categorydivextra rounded-3 " type="button" data-bs-toggle="modal" data-bs-target="#Contactanos">Contactanos</button> {% endcomment %}  
          <button class="categorydivextra rounded-3 " type="button" data-bs-toggle="modal" data-bs-target="#Register">Registrate</button>
          <button class="categorydivextra rounded-3 " type="button" data-bs-toggle="modal" data-bs-target="#IniciarSesion">Iniciar Sesion</button>
          <button class="categorydivextra rounded-3 " type="button" data-bs-toggle="modal" data-bs-target="#Ayuda">Ayuda</button>

           </div>

       
           
        </div>
        </div>
       
        </div>
      </nav>

      
  <!-- TERMINO NAVBAR -->



  
  <!-- INICIO CAROUSEL -->
<div class="container-fluid">
  <div class="col-12 ">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'core/img/Carousel1PetShop.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/carouselgatoPetshop.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/CarouselperrogatoPetshop.jpg'%}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>

<!-- TERMINO CAROUSEL -->

<!-- INICIO PROMOCION SOCIO -->
<div class="container">
 <button class="btnsocio" ><div class="custompromosocio fw-bold fs-2 ">
<img  src="{% static 'core/img/5%.png'%}" width="120" height="120" >Descuento siendo socio ya!
<div class="custompromosociologo">
    <a href="{%url 'home' %}"><img src="{% static 'core/img/1.jpg'%}" class="border border-2 border-dark" alt="" width="40" height="52" ></a>
   <span class="bagde fw-bold fs-2">PETSHOP</span>
</div>  
</button>
</div>
</div>
<!-- TERMINO PROMOCION SOCIO -->

<!-- INICIO CATEGORIAS DESTACADAS -->
<br>
<div class="container">
    <div class="row ">
        <h2 class="destacadostittle fw-bold text-center ">
        <span>DESTACADOS</span>
        <hr>
        </h2>
    </div>
    <div class="row" id="categorias">
        
    </div>
    <br>
    <div class="row" id="categorias2">
        
    </div>
</div>

<!-- TERMINO CATEGORIAS DESTACADAS -->

<!-- INICIO FOOTER -->

<div class="container">

<div class="row footercontainer">
    <footer class="py-5 my-5 border-top  previuvfooter">
     
     <div class="row">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link navitemfooter" href="#">Nuestras Categorias</a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link navitemfooter" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navitemfooter" href="#">Socios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navitemfooter" href="#">Centro de ayuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navitemfooter" href="#"> Política de privacidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navitemfooter" href="#">Términos y condiciones</a>
        </li>

      </ul>
     </div>
     <br>
  <div class="row">
    <div class="col text-center consultcolor2">Los precios y la disponibilidad de existencias pueden variar entre la tienda en línea y nuestra tienda minorista.</div>
  </div>
  
  <div class="row">
    <div class="col text-center consultcolor">Consulta de pedido en línea</div>
  </div>
  
  <div class="row">
    <div class="col text-center consultcolor3">Centro de servicio al cliente</div>
  </div>
  <br>
  <div class="row">
    <div class="col text-center consultcolor2">Correo electrónico: UwU@Petshop.com Tel: +56 9 1234 5678 Horario de atención: 9:390AM. a  20:00PM.
       (ET) (Lunes a Viernes, excepto días festivos)</div>
  </div>
  <div class="row">
    <div class="col text-center consultcolor2">Consulte desde nuestros servicios de comunicacion conocer la disponibilidad de productos de la tienda.
  
    </div>
  </div>
  <br>

  <div class="row">
    <div class="logoinfooter">
        <div class="">
            <a href="{%url 'home' %}"><img src="{% static 'core/img/1.jpg'%}" class="border border-2 border-dark" alt="" width="90" height="72" ></a>
           <span class="bagde fw-bold fs-2">PETSHOP</span>
        </div>
    </div>
    
  </div>
  
    </footer>
    <br><br>
  <p class="text-muted text-center">PetShop © 2022</p>
  </div>
     
  <!-- TERMINO FOOTER -->

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>










