{% extends 'core/base.html' %}

{% block js %}

<script>
  function eliminarProductos(id){
    Swal.fire({
      "title":"¿Estas seguro?",
      "text":"La accion realizada no se podra deshacer",
      "icon":"question",
      "ShowCancelButton":true,
      "cancelButtonText":"No,cancelar",
      "confirmButtonText":"Si, Eliminar"
    })
    .then(function(result){
      if(result.isConfirmed){
        window.location.href="/eliminarproductos/"+id+"/"
      }
    })
  }
</script>
{% endblock %}


  {% block contenido %}
{% load humanize %}

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-md-6 col-2">
      <br>
      <a href="{% url 'registroproductos' %}" class="btn btn-success">Añadir Producto</a> |
    </div>
  </div>
  <div class="col-xl-12 col-md-6 col-12">
<table class="table table-striped table-hover table-responsive-sm">
<tr>
  <th style="color: white;">Nombre/ID </th>
  <th style="color: white;">Marca </th>
  <!-- <th style="color: white;">Descripcion </th> -->
  <th style="color: white;">Precio </th>
  <th style="color: white;">Stock</th>
  <th style="color: white;">Imagen</th>
  <th style="color: white;">Categoria</th>
</tr>
  {% for ve in entity %}

  <tr>
    <th style="color: white;">{{ve.nombre_producto}}</th>
    <th style="color: white;">{{ve.marca_producto}}</th>
    <!-- <td  class="ellipsis" style="color: white; ">{{ve.descripcion_producto}}</td> -->
    <th style="color: white;">{{ve.precio_producto}}</th>
    <th style="color: white;">{{ve.stock_producto}}</th>
   
    <th style="color: white;">{% if ve.imagen_producto %}
             <img src="{{ ve.imagen_producto.url }}" width="75" height="50">
              {% endif %}</th>
     <th style="color: white;">{{ve.categoria}}</th>

  <th style="color: white;">
    <a href="{% url 'modificarproductos' ve.nombre_producto %}" class="btn btn-success">Modificar Producto</a> |
     <a href="{% url 'eliminarproductos' ve.nombre_producto %}"  class="btn btn-danger ">Eliminar Producto</a>
        </th>
   
      </tr>   
       {% endfor %}

</table>
</div>
 </div>              
    
<div>
  {% include 'core/paginator.html' %}
</div>
  


{% endblock %}

