{% extends 'core/base.html' %}

{% load static %}

  {% block contenido %}
{% load crispy_forms_tags %}

   <br>

    
    
 <div class="container" style="background-color: rgb(119,30,87); color:white;">
     <div class="row">
      
         <div class="col">
             <h1>Modificar Producto</h1>
    <br>
         </div>
     </div>
     <div class="row">
         <div class="col">
            <form method="post" action="" id="formulariomodificarproducto" enctype="multipart/form-data" style="background-color: rgb(119,30,87);">
            {% csrf_token %}
        <div class="form-group" style="color: white ; ">
            {{ form | crispy }}
        </div>
 
        <input type="submit" class="btn btn-danger" id="Editar" value="Editar">
        <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
       
        <div class="alert alert-success" role="alert">
            {{mensajeproducto}}
        </div>
</form>
  
         </div>
     </div>
 </div>
        


{% endblock %}