<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetShop</title>
    <link rel="stylesheet" href="CSS/Perfil.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


    
</head>
<body>
    <div class="container-fluid">
        <div class="row fundacion">
         
        <div class="col-xl-3 col-sm-3 col-md-3">  <h6 style="padding-top: 4px;">Envios hacia: <img src="images/41.png" alt="" width="" height=""> </h6>  
         </div>  
      <div class="col-xl-4 col-sm-4 col-md-4"> 
        <h5 class=""><div class="" style="padding-left:30px;">
          ¡Te garantizamos el mejor precio online!
          </div>  
        </h5>
      </div>
      <div class="col-xl-2 col-sm-2 col-md-2">
        <h6  style="padding-top: 4px;"><a  class="txtprimerabarra"href=""> Centro de Soporte</a></h6>  
      </div>
      <div class="col-xl-2 col-sm-2 col-md-2">
        <h6 style="padding-top: 4px;"><a  class="txtprimerabarra" href=""> Estado de su producto</a></h6>  
      </div>
        </div>
      </div>
      <div class="container-fluid containernavbar">
      
        <div class="row rownavbar">
               <br> 
            <div class="col-xl-3 col-sm-3 col-md-3">
              <br>
              <h1 class=" fw-bold fs-1 logocompany">
                <a href="index.html"><img src="IMAGES/1.jpg" class="border border-2 border-dark" alt="" width="90" height="72" ></a>
                <div class="badge text-wrap fw-bold     " style="width:3rem;">
                    PETSHOP
                  </div>
            </h1>
            <br>
              </div>
              
                  
              <!-- Buscar en la tienda -->
            <div class="col-xl-5 col-sm-5 col-md-5">
              <br><br>
            <form class="form-floating mb-3 d-flex rounded">
              <div class="search-box  ">
                  <input type="text"  placeholder="Buscar en la tienda"
                  class="search-input rounded-pill" />
                  <a href="#" class="search-btn">
                  <img src="IMAGES/lupa.png" alt="" width="25" height="25" >
                  </a>
              </div>
            </form>
           </div>
                        
          
        
           <div class="col-xl-4 col-sm-4 col-md-4" style="padding-left: 20%;">
               <br>
    <button type="button" class="btn rounded" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
        <img src="IMAGES/iniciarsesionlogo.png" alt="" width="30" height="24" >
        Iniciar Sesion
    </button>
    <!-- Inicio de sesión -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header modalbackgroundlogin"> 
      <a href="index.html"><img src="IMAGES/1.jpg" class="border border-2 border-dark" alt="" width="60" height="60" ></a>
                <div class="badge text-wrap fw-bold fs-5 " style="width:6px;">
                    PETSHOP
                  </div>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    
    
    
    
    </div>
    <div class="row">
      <div class="col">
     <p class="iniciarsesionmodaldesign fw-bold fs-6">Iniciar Sesion</p>
    </div>
    </div>
    <div class="modal-body modalbackgroundlogin">
      <form action="/Perfil.html">
        <!-- Usuario -->
        <div class="form-floating mb-3 mt-1">
          
          <input type="text" class="form-control " id="uname floatingInput" placeholder="Ingrese usuario"
           name="uname" required minlength="6" && maxlength="30">
           <label for="uname floatingInput">Usuario</label>
          
        <!-- Contraseña -->
        <div class=" form-floating mb-3 mt-4">
        
            <input type="password"
                   class="form-control"
                   id="floatingPassword" placeholder="Ingrese Contraseña"
                   pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*"
                   title="Debe tener al menos una mayúscula, una minúscula y un dígito"
                   required minlength="8" && maxlength="20" >  <label for="pwd floatingPassword">Contraseña</label>        
        </div>
        <!-- Desea Guardar Contraseña -->
        <div class="form-check mb-3">
          <input class="form-input" type="checkbox" id="switch"  
          name="remember" >
          <label class="form-label" for="myCheck">¿Guardar Contraseña?.</label>
        </div>
      <button type="submit" class="btn btn-secundary">Iniciar Sesion</button>
      </form>
    </div>
    </div>
    </div>
    </div>
           </div>
          
          </div> 
          
      </div>
     
      <div class="container-fluid containeradress">
          <div class="row">
              <div class="col-xl-2 col-sm-2 col-md-2 tiendalocation">
                  <br>
                <img src="IMAGES/iconomapa.png" width="30" height="24" > Tienda: Calpheon
              </div>
              <div class="col-xl-6 col-sm-6 col-md-6">
                  <br>
                  <h5>Nuestras Redes Sociales: 
                    <img src="IMAGES/facebook.png" width="60" height="48">
                    <img src="IMAGES/instagram.png" width="60" height="48">
                    <img src="IMAGES/whatsapp.png" width="60" height="48"></h5>
    
                
              </div>
              
             
              <div class="col-xl-3 col-sm-3 col-md-3">
                  <br>
             
                <h6 class="fw-bold NuestrasCategorias ">NUESTRA TIENDA: <a href="categorias.html"><img src="images/2.png" alt="" width="40" height="40"> </a></h6> 
               
              </div>
          </div>
     <hr>
     <br>
        </div>
      <br>
               
       
  
         <div class="container containerprofile">
         
          <div class="col-xl-4 col-sm-4 col-md-4 paddingttittle">
            <br>
              <a href="index.html"><img src="IMAGES/iniciarsesionlogo.png" class=" " alt="" width="60" height="60" ></a>
            <div class="badge text-wrap fw-bold fs-5 " style="width:6px;">
              
              Hola
             <p> user</p>
              </div>
             
            </div>
            <div class="col">
              <br>
              <p class="tittleuser fw-bold"></p>          
            </div>

          
         </div>
        
        
         <div class="container containerprofile2">

          <div class="row ">
            
            <div class="col-xl-12 col-sm-12 col-md-12">
              <div class="d-grid gap-2"> <form action="Perfil.html"> <button class="btn btn-category">Datos Personales</button> </form> </div>
              <div class="d-grid gap-2">  <form action="PerfilHistorial.html"> <button class="btn btn-category">Historial de Compras</button> </form> </div>
              <div class="d-grid gap-2"> <form action="PerfilDespacho.html"> <button class="btn btn-category">Estado de Despacho</button> </form> </div>
              <div class="d-grid gap-2"> <span   class="fw-bold btn-category " >Cambiar Contraseña</span></div>
              <div class="d-grid gap-2"> <form action="index.html"><button class="btn btn-category">Cerrar Sesion</button> </form> </div>

             

            </div>
           
          </div>
          <div class="row containerprofile2">
            <div class="col-xl-12 col-sm-12 col-md-12">
            <span class="tittlecompraonline fw-bold">Cambiar mi contraseña</span>
            <form class="row g-3 needs-validation" novalidate>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña actual</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu contraseña actual">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu nueva contraseña">
                  </div>
                <div class="col-xl-12 col-sm-12 col-md-12">
                    <button class="btn rounded-pill color fw-bold">Cambiar Contraseña</button>
                </div>
              </form>
        </div>
          </div>

        </div>
       

                <div class="row footercontainer">
                  <footer class="py-5 my-5 border-top  previuvfooter">
                   
                   <div class="row">
                    <ul class="nav justify-content-center">
                      <li class="nav-item">
                        <a class="nav-link navitemfooter" href="#">Sitio Corporativo</a>
                      </li>
                      <li class="nav-item  ">
                        <a class="nav-link navitemfooter" href="#"> Sobre nosotros</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link navitemfooter" href="#">Preguntas más frecuentes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link navitemfooter" href="#">Centro de ayuda</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link navitemfooter" href="#"> Política de privacidad</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link navitemfooter" href="#">Términos y condiciones</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link navitemfooter" href="#"> Accesibilidad</a>
                      </li>
                    </ul>
                   </div>
                   <br>
                <div class="row">
                  <div class="col text-center consultcolor2">Los precios y la disponibilidad de existencias pueden variar entre la tienda en línea y nuestra tienda minorista.</div>
                </div>
                
                <div class="row">
                  <div class="col text-center consultcolor">Consulta de pedido en línea</div>
                </div>
                
                <div class="row">
                  <div class="col text-center consultcolor3">Centro de servicio al cliente</div>
                </div>
                <br>
                <div class="row">
                  <div class="col text-center consultcolor2">Correo electrónico: UwU@Petshop.com Tel: +56 9 1234 5678 Horario de atención: 9:390AM. a  20:00PM.
                     (ET) (Lunes a Viernes, excepto días festivos)</div>
                </div>
                <div class="row">
                  <div class="col text-center consultcolor2">Consulte desde nuestros servicios de comunicacion conocer la disponibilidad de productos de la tienda.
                
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col text-center">  <h1 class=" fw-bold fs-1 logocompany">
                    <a href="index.html"><img src="IMAGES/1.jpg" class="border border-2 border-dark" alt="" width="90" height="72" ></a>
                    <div class="badge text-wrap fw-bold     " style="width:3rem;">
                        PETSHOP
                      </div>
                </h1></div>
                </div>
                
                  </footer>
                  <br><br>
                <p class="text-muted text-center">PetShop © 2022</p>
                </div>
</body>
</html>