{% extends 'core/base.html' %}

{% load static %}

  {% block contenido %}




    



  
  
         <div class="container containerprofile">
         
          <div class="col-xl-4 col-sm-4 col-md-4 paddingttittle">
            <br>
              <a href="index.html"><img src="IMAGES/iniciarsesionlogo.png" class=" " alt="" width="60" height="60" ></a>
            <div class="badge text-wrap fw-bold fs-5 " style="width:6px;">
              
              Hola
             <p> user</p>
              </div>
             
            </div>
            <div class="col-xl col-sm col-md">
              <br>
              <p class="tittleuser fw-bold"></p>          
            </div>

          
         </div>
        
        
         <div class="container containerprofile2">

          <div class="row ">
            
            <div class="col-xl-12 col-sm-12 col-md-12">
              <div class="d-grid gap-2"> <span   class="fw-bold btn-category " >Datos Personales</span></div>
              <div class="d-grid gap-2">  <form action="PerfilHistorial.html"> <button class="btn btn-category">Historial de Compras</button></form> </div>
              <div class="d-grid gap-2"> <form action="PerfilDespacho.html"> <button class="btn btn-category">Estado de Despacho</button> </form> </div>
              <div class="d-grid gap-2"> <form action="PerfilContraseña.html"> <button class="btn btn-category">Cambiar Contraseña</button></form> </div>
              <div class="d-grid gap-2"> <form action="index.html"><button class="btn btn-category">Cerrar Sesion</button> </form> </div>

             

            </div>
           
          </div>
        
          <div class="row containerprofile2">
           
             
               <div class="col-xl col-sm col-md"> <span class="tittledatosppersonaels ">Datos Personales </span> </div>
           
              <div class="row">
                <div class="col-xl-4 col-sm-4 col-md-4">
                <span>Usuario</span>
                <input type="text" class="form-control formuser" placeholder="Ingrese su nombre" id="" value="User" >
                </div>
                <div class="col-xl-4 col-sm-4 col-md-4">
                  <span>Correo Electronico</span> 
                  <div>
                 <span class="emailuserdiabled"> user@gmail.com</span></div>
                  </div> <div class="col-xl-4 col-sm-4 col-md-4">
                    <span>Celular</span>
                  <div class="d-flex">
                    <span class="idregion" >+569</span> <input  type="text" class="form-control formnumber" placeholder="Ingrese su celular" id="" value="12345678" >
                  </div>
                    
                    </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xl-4 col-sm-4 col-md-4">
                  <span>Direccion</span>
                  <input type="text" class="form-control formuser" placeholder="Ingrese su Direccion." id="" value="Abc123, Santiago" >
                  </div>
                
              </div>
              <div class="row">
                <div class="col col-sm col-md coltittlecheck">Conoce lo último de PetShop</div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Acepto recibir novedades sobre nuestros futuros productos mediante correo Electronico.
                  </label>
                </div><div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Quiero recibir mensajes con ofertas y novedades en mi celular.
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-sm-12 col-md-12">

                <button class="btn rounded-pill color fw-bold">Editar Perfil</button>
                
                </div>
                
              </div>
              
             

            
          </div>

        </div>
     
{% endblock %}

