{% extends 'core/base.html' %}

{% load static %}

  {% block contenido %}



  <div class="container" style="background-color: rgb(119,30,87)" >
    <div class="row" style="margin-top: 100px;">
      <div class="col" style="padding-top: 50px;">
       <h2 style="color: white;">Perfil Usuario</h2>
      <h5 style="color: white;">Hola {{user.username | capfirst}}</h5> 
      </div>
     
    </div> 
   
    <div class="row">
      <div class="col">
     
      <h2  style="color: white; padding-top: 60px;">Categorias</h2>
    </div>
    <div class="col">
      <h2 style="color:white; padding-top: 60px;">Informacion del Usuario</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3 d-block">
      <div><a href="">Historial de Compras</a></div>
      <div><a href="">Estado del Pedido</a></div>
      <div><a href="">Donaciones</a></div>
      <div><a href="">Modificar Perfil</a></div>
    </div>
  </div>
  </div>
      



  
  
     
{% endblock %}

