{% extends 'core/base.html' %}

{% load static %}

  {% block contenido %}




    

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Registrarse</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                                {{ regis.as.table}}

                            <a href="{% url 'home' %}">Menu Principal</a>
                            <a href="">Iniciar Sesion</a>
                            <input type="submit" value="Registrate" class="btn btn-success float-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}