/* DISEÑO ERRORES, SUCCESS */

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-group {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.errorRegister{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}


/* DISEÑO DE NAVBAR */

.navbar{
    background-color: rgb(58, 10, 80);
}


.categoryinnavbar{
    padding: 10px 20px;
    display:grid;
    grid-template-columns: repeat(8,auto);
    margin-right: 30px;
    }


.categorydiv{
    margin-top: 20px;
    text-align: center;
    margin-left: 20px;
    color: white;
    background-color: rgb(0, 0, 0);
     width: 150px;
     height: 30px;
}


.categorydiv:hover{
    cursor: pointer;
    background:#ffffff;
    color: black;
    }

  
.categorydivextra{
  
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
    color: rgb(0, 0, 0);
  border: white;
  background-color: rgb(73, 197, 255);
     width: 105px; height: 25px;
}

.categorydivextra:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.categorydiv:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    }

.categorylinkcustom{
    color: red;
}    
/* TERMINO DISEÑO NAVBAR */

/* INCIO DISEÑO CAROUSEL */

.carousel.slide{
    margin-left: 10%;
    width: 75%;
    height: 75%;
   
}
.carousel-indicators{
    margin-left: 10%;
    width: 75%;
   
}

.carousel-control-next {
    margin-right: 5%;
    width: 75%;
   margin-top: 0%;
}
.carousel-control-prev {
    margin-left: 5%;
    width: 75%;
   margin-top: 0%;
}
.w-100{
margin-left: 100px;
padding-right: 200px;
 width: 75%;
 height: 500px;
}


/* TERMINO DISEÑO CAROUSEL */

/* INICIO SOCIO DISEÑO */
.custompromosocio{
color: red;
}
.custompromosociologo{
    color: black;
  
}

.btnsocio{
    background-color: white;
    border: white;
    text-align: center;
    margin-left: 350px;
}
/* TERMINO SOCIO DISEÑO */

/* INICIO CATEGORIAS DESTACADAS */

.imagedestacado {
    margin-left: 100px;
  width: 200px;
  height: 200px;
   
}

.tittledestacado{
    color: black;
    text-align: center;
}
.pricedestacado{
    margin-top: 20px;
    color: black;
    margin-left: 20px;
}

.btn.btn-custom{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.btn.btn-custom:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}



/* TERMINO CATEGORIAS DESTACADAS */

/* INICIO FOOTER  */

.logoinfooter{
    padding-right: 300px;
    padding-top: 100px;
}
.consultcolor{
    color: #7A7A00;
    font-size: 13px;
}

.consultcolor2{
    color: black;
    font-size: 13px;
}

.nav-link.navitemfooter{
    color: rgb(73, 197, 255);
    background: rgb(255, 255, 255);
}
/* TERMINO FOOTER  */


/* INICIO RESPONSIVE */

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  /* TERMINO RESPONSIVE */