body{
 
    background: url('../img/espiro_pink.jpg') repeat;
}



/* DISEÑO DE NAVBAR */

.navbar{
    background-color: rgb(119,30,87);
}

.logotittlenavbar{
    padding-left: 10px;
    margin-right: 200px;
}

.logotittle{
    color: white;
}


.categorydiv{
    margin-top: 40px;
    text-align: center;
    margin-left: 90px;
    color: rgb(255, 255, 255);
    padding: 5px;
  border: solid;
}

.categorydiv2{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
  border: solid;
}


.categorydivextra{
    margin-left: 300px;
  
    text-align: center;
    color: rgb(255, 255, 255);
   padding: 5px;
  border: solid;
}

.categorydivextra2{
    margin-left: 10px;
  
    text-align: center;
    color: rgb(255, 255, 255);
   padding: 5px;
  border: solid;
}


.navbar-toggler-icon{
background-color: white;
}

.categorydiv:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    }

.categorydiv2:hover{
        cursor: pointer;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        }
      
.categorydivextra:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.categorydivextra2:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.categorydiv:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    }

.categorylinkcustom{
    color: red;
}    
/* TERMINO DISEÑO NAVBAR */

/* INCIO DISEÑO CAROUSEL */

.carousel.slide{
   
    width: 100%;
    
   
}
.carousel-indicators{
    margin-left: 10%;
    width: 75%;
   
}

.carousel-control-next {
    margin-right: 5%;
    width: 75%;
   margin-top: 0%;
}
.carousel-control-prev {
    margin-left: 5%;
    width: 75%;
   margin-top: 0%;
}
.w-100{
margin-left: 100px;
padding-right: 200px;
 width: 75%;
 height: 500px;
}


/* TERMINO DISEÑO CAROUSEL */

/* INICIO SOCIO DISEÑO */
.custompromosocio{
color: red;
}
.custompromosociologo{
    color: black;
  
}

.btnsocio{
    background-color: rgb(119,30,87);
    border: white;
    text-align: center;
    margin-left: 350px;
}

.logotittlenavbardestacados{
        margin-top: 25px;
        padding-left: 10px;
        margin-right: 200px;
  
}

/* TERMINO SOCIO DISEÑO */

/* INICIO CATEGORIAS DESTACADAS */

.imagedestacado {
    margin-left: 100px;
  width: 200px;
  height: 200px;
   
}

.destacadostittle{
    color: rgb(255, 255, 255);
    text-align: center;
}
.pricedestacado{
    margin-top: 20px;
    color: black;
    margin-left: 20px;
}

.btn.btn-custom{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.btn.btn-custom:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}



/* TERMINO CATEGORIAS DESTACADAS */

/* INICIO FOOTER  */

.footercontainer{
    background-color: rgb(119,30,87);
}

.logoinfooter{
    padding-right: 300px;
    padding-top: 100px;
}
.consultcolor{
    color: #1c7a00;
    font-size: 13px;
}

.consultcolor2{
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.nav-link.navitemfooter{
    color: rgb(255, 255, 255);
   
}
/* TERMINO FOOTER  */


/* INICIO RESPONSIVE */

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media only screen and (min-width: 578px){
    /* no se que tipo de responsivo es, pero sm*/
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
  }

  @media only screen and (min-width: 992px){
    /* no se que tipo de responsivo es, pero lg*/
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
  }
  @media only screen and (min-width: 1140px){
    /* no se que tipo de responsivo es, pero xl*/
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
  }
  @media only screen and (min-width: 1400px){
    /* no se que tipo de responsivo es, pero xxl*/
    .col-xxl-1 {width: 8.33%;}
    .col-xxl-2 {width: 16.66%;}
    .col-xxl-3 {width: 25%;}
    .col-xxl-4 {width: 33.33%;}
    .col-xxl-5 {width: 41.66%;}
    .col-xxl-6 {width: 50%;}
    .col-xxl-7 {width: 58.33%;}
    .col-xxl-8 {width: 66.66%;}
    .col-xxl-9 {width: 75%;}
    .col-xxl-10 {width: 83.33%;}
    .col-xxl-11 {width: 91.66%;}
    .col-xxl-12 {width: 100%;}
  }

  /* TERMINO RESPONSIVE */