
/* DISEÑO DE NAVBAR */

.navbar{
    background-color: rgb(73, 197, 255);
}
.categoryinnavbar{
    padding: 10px 20px;
    display:grid;
    grid-template-columns: repeat(8,auto);
    margin-right: 30px;
    }
.logoinnavbar{
    padding-right: 300px;
   
}
.tittlecompanyname{
    color: black;
}
.categorydiv{
    margin-top: 20px;
    text-align: center;
    margin-left: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
     width: 150px;
     height: 30px;
}


.categorydiv:hover{
    cursor: pointer;
    background:#ffffff;
    color: black;
    }

  
.categorydivextra{
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
    color: rgb(0, 0, 0);
  border: white;
  background-color: rgb(73, 197, 255);
     width: 120px; height: 25px;
}

.categorydivextra:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.categorydiv:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    }

.categorylinkcustom{
    color: red;
}    
/* TERMINO DISEÑO NAVBAR */

/* INCIO DISEÑO CAROUSEL */

.carousel.slide{
    width: 100%;
    height: 100%;
}

.w-100{
margin-left: 100px;
padding-right: 200px;
 width: 75%;
 height: 500px;
}


/* TERMINO DISEÑO CAROUSEL */

/* INICIO SOCIO DISEÑO */
.custompromosocio{
color: red;
}
.custompromosociologo{
    color: black;
  
}

.btnsocio{
    background-color: white;
    border: white;
    text-align: center;
    margin-left: 350px;
}
/* TERMINO SOCIO DISEÑO */

/* INICIO CATEGORIAS DESTACADAS */

.imagedestacado {
    margin-left: 100px;
  width: 200px;
  height: 200px;
   
}

.tittledestacado{
    color: black;
    text-align: center;
}
.pricedestacado{
    margin-top: 20px;
    color: black;
    margin-left: 20px;
}

.btn.btn-custom{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.btn.btn-custom:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
/* TERMINO CATEGORIAS DESTACADAS */

/* INICIO FOOTER  */

.logoinfooter{
    padding-right: 300px;
    padding-top: 100px;
}
.consultcolor{
    color: #7A7A00;
    font-size: 13px;
}

.consultcolor2{
    color: black;
    font-size: 13px;
}

.nav-link.navitemfooter{
    color: rgb(73, 197, 255);
    background: rgb(255, 255, 255);
}
/* TERMINO FOOTER  */
