{% extends 'core/base.html' %}

{% load static %}

  {% block contenido %}
{% load crispy_forms_tags %}

   <br>
    <div class="container">

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card" style="background-color: rgb(119,30,87); color:white;">
            <div class="card-body">
                <h2>Ingresa tus credenciales</h2>
                <hr>
                <form action="" method="post">

                    {% csrf_token %}
                    {{ form | crispy}}
                    <br>
                    <a href="{% url 'core:home' %}">Volver al Menu Principal</a> |
                    <a href="{% url 'core:registro' %}">Registrarse</a>
                    <input type="submit" class="btn btn-success float-right" value="ingresar">
                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                    <script>
                        function onSignIn(googleUser) {
                          // Useful data for your client-side scripts:
                          var profile = googleUser.getBasicProfile();
                          console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                          console.log('Full Name: ' + profile.getName());
                          console.log('Given Name: ' + profile.getGivenName());
                          console.log('Family Name: ' + profile.getFamilyName());
                          console.log("Image URL: " + profile.getImageUrl());
                          console.log("Email: " + profile.getEmail());
                  
                          // The ID token you need to pass to your backend:
                          var id_token = googleUser.getAuthResponse().id_token;
                          console.log("ID Token: " + id_token);
                        }
                      </script>
                </form>
            </div>
        </div>

    </div>
</div>

    </div>



    {% endblock %}