{% extends 'core/base.html' %}

{% load static %}

  {% block contenido %}
{% load crispy_forms_tags %}

   <br>

    <div class="container">

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card" style="background-color: rgb(119,30,87); color:white;">
            <div class="card-body">
                <h2>Registro de Usuario</h2>
                <hr>
                <form action="" method="post">

                    {% csrf_token %}
                    {{ form | crispy}}
                    <br>
                    <a href="{% url 'core:home' %}">Volver al Menu Principal</a> |
                    <a href="{% url 'core:login' %}">Iniciar Sesion</a>
                    <input type="submit" class="btn btn-success float-right" value="ingresar">
                </form>
            </div>
        </div>

    </div>
</div>

    </div>



    {% endblock %}  